<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Счетчик</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script type="text/javascript" charset="utf-8">
        document.addEventListener("DOMContentLoaded", function() {
            var socket = io.connect('http://' + document.domain + ':' + location.port);
            socket.on('update_counter', function(data) {
                document.getElementById('counter').innerText = data.counter_value;
                document.getElementById('time').innerText = data.hours + ':' + data.minutes + ':' + data.seconds;
            });
        });
    </script>
</head>
<body>
    <h1>Счетчик: <span id="counter">0</span></h1>
    <h2>Время: <span id="time">00:00:00</span></h2>
    <form action="{{ url_for('reset') }}" method="post">
        <button type="submit">Сбросить</button>
    </form>
</body>
</html>